$light-gray-background-transparent: rgba(215, 212, 212, 0.2);
$light-gray-background: #ddd;
$dark-gray-text: #4e4d4d;
$background-opaque-top: rgba(215, 212, 212, 0.8);
$background-opaque-bottom: rgba(215, 212, 212, 0.2);
$medium-gray: #a19da0;
$flushr-blue: #7292c1;

$z-index-neg: -1;
$z-index-lowest: 1;
$z-index-lower: 2;
$z-index-low: 3;
$z-index-mid: 4;
$z-index-high: 5;
$z-index-higher: 6;
$z-index-highest: 7;
$z-index-insane: 8;
